:root {
  font-family: "Inter", sans-serif;
  --second-family: "SF Pro Display", sans-serif;
  --third-family: "SF Pro Text", sans-serif;
  --font3: "Verdana", sans-serif;
  --font4: "Poppins", sans-serif;
  --font5: "Audiowide", sans-serif;
  --font6: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}